* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    overflow-x: hidden;
}

img {
    user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    -webkit-user-drag: none; -webkit-user-select: none; 
    -moz-user-drag: none; 
}


@font-face {
	font-family: "typerighter";
	src: url("../ressources/rm_typerighter.woff");
}
body{
    background-size: 100%;
    background:#E2E0D9;
    font-family: "typerighter", Poppins, Roboto, Oxygen, sans-serif;
    color: #1E1E1E;
}

#button_night {
    width: 100px;
    cursor: pointer;
}
#button_night img{
    width: 100%;
}
.nuit {
    display: none;
    z-index: 100;
    position: fixed;
    top: -1px;
    width: 100vw;
    height: 1px;
    box-shadow: 0px 0px 0px 100vh rgb(0, 0, 0);
    opacity: 50%;
}
#cursor {
    position: fixed;
    z-index: 101;
    height: 0px;
    width: 0px;
    border-radius: 100%;
    box-shadow: 0px 0px 300px 200px rgb(245, 255, 101);
    opacity: 150%;
}

.page_container {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    ". titre ."
    ". nuage ."
    ". bar ."
    ;
}

.titre_container {
    grid-area: titre;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

/* création des flêches de du quadrant */
.popularite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 1px;
    background-color: #1E1E1E;
}
.popularite_fleche {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1E1E1E;
}


.titre_popularite {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.croissance {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: #1E1E1E;
}

.croissance_fleche {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    
    border-left: 5px solid #1E1E1E;
}

.titre_croissance {
    position: absolute;
    right: -2px;
    transform: translateY(6px);
}

/* gestion du Quadrant */
.nuage_container {
    position: relative;
    grid-area: nuage;
    margin-top: 20px;
    height: 600px;
    width: 100%;
    font-size: 25px;
}

#legende {
    position: absolute;
    z-index: 3;
    width: 600px;
    bottom: 50px;
    right: -490px;
    transition: 0.5s;
    } 

.point_container {
    position: absolute;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#css{
    bottom: 10%;
    left: 10%;
}
#c{
    bottom: 10%;
    left: 80%;
}
#cpp{
    bottom: 80%;
    left: 80%;
}
#vue{
    bottom: 50%;
    left: 10%;
}
#lowCode{
    bottom: 50%;
    left: 10%;
}

.button_point {
    background: white;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    cursor: pointer;
}
.button_point:hover {
    background: #E2E0D9;
}

/* gestion des catégorie du quadrant */
.canvas_color_point {
    position: absolute;
    height: 50%;
    width: 50%;
}
#canvas_tendance {
    top: 0;
    right: 0;

}
#canvas_etabli {
    top: 0;
    left: 0;
}
#canvas_mourrant {
    bottom: 0;
    left: 0;
}
#canvas_emergeant {
    bottom: 0;
    right: 0;
}


.class_categorie {
    font-size: 40px;
    position: absolute;
}
#tendance {
    top: 0;
    right: 0;
    color: #7EA477;
}
#etablie {
    top: 0;
    left: 0;
    color: #55618B;
}
#mourrant {
    bottom: 0;
    left: 0;
    color: #CC6363;
}
#emergeant {
    bottom: 0;
    right: 0;
    color: #D1902E;
}

/* géstion de la bare de défillement */


.bar_container {
    margin-top: 50px;
    position: relative;
    grid-area: bar;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#time_bar {
    width: 100%;
    z-index: 2;
}


input[type=range]#time_bar {
    -webkit-appearance: none;
    height: 1px;
    font: inherit;
    outline: none;
    background: #1E1E1E;
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
    color: #1E1E1E;
  }
input[type=range]#time_bar::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    background-color: #1E1E1E;
}
input[type=range]#time_bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    background-color: #1E1E1E;
}
input[type=range]#time_bar::-ms-thumb {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    background-color: #1E1E1E;
}

.marckers_line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.marcker_line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar_2000 {
    margin-bottom: 5px;
    height: 7px;
    width: 1px;
    background-color: #1E1E1E;
}
.bar_2012 {
    margin-bottom: 5px;
    height: 7px;
    width: 1px;
    background-color: #1E1E1E;
}
.bar_2017 {
    margin-bottom: 5px;
    height: 7px;
    width: 1px;
    background-color: #1E1E1E;
}
.bar_2021 {
    margin-bottom: 5px;
    height: 7px;
    width: 1px;
    background-color: #1E1E1E;
}

@media screen and ( max-width: 440px) {
    #button_night {
        display: none;
    }
    .titre_container {
        font-size: 25px;
    }
    /* gestion du Quadrant */
    .nuage_container {
        height: 350px;
        font-size: 25px;
    }
    #legende {
        width: 350px;
        top: 55vh;
        right: -280px;
    }

    /* gestion des catégorie du quadrant */
    .class_categorie {
        font-size: 25px;
    }

    /* géstion de la bare de défillement */
    #time_bar {
        width: 70%;
        z-index: 2;
    }
    .marckers_line {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 40%);
        display: flex;
        width: 69%;
        justify-content: space-between;
    }
}